.body {
    display: flex;
    justify-content: center;
    background-color: white;
}

.bodyMain {
    background-color: whitesmoke;
    color: black;
    width: 80%;
    height: 100%;
}

.login {
    font-size: 3rem;
    margin-top: 0.5rem;
}

.infoTitle {
    font-size: 2rem;
}

.info {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.link {
    color: blue;
}

