.body {
    display: flex;
    justify-content: center;
}
.bodyTitle {
    width: 100%;
    display: flex;
}
.title {
    width: 100%;
    color: #767676;
    display: flex;
    justify-content: center;
    margin: 1.5rem 0rem;
}
.bodyMain {
    width: 80%;
    margin-left: 10%;
    display: flex;
}
.info {
    width: 65%;
    color: black;
}
.delivery {
    width: 35%;
    background-color: white;
    color: black;
    padding: 1rem;
}
.delivery button {
    width: 4rem;
    height: 2rem;
    position: absolute;
    cursor: pointer;
    margin-top: 0.8rem;
    margin-left: 0.4rem;
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
}
.delivery button:hover {
    background-color: white;
    color: black;
    border: none;
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.image {
    width: 4rem;
    height: 2rem;
    margin-top: 0.8rem;
    margin-left: 0.5rem;
}