* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

html,
body {
  padding: 0;
  color: #fff;
  height: 100%;
  margin: 0;
  background-color: whitesmoke;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar{
  width: 10px;
  height: 7px;
}


::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  border-radius: 100vw;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background: rgb(146, 146, 146);
  border: .25em solid hsl(120, 75%, 50% / 1);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(252, 252, 252);
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}